@import '../../../styles/variables.scss';

:host {
    contain: content;
    position: relative;
}

.app-day-time-day-view {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: $z-index-day-time-view;

    // TODO: background-image must change programmatically
    background-image: linear-gradient(#6af, #bdf);
    //background-color: $color-blue_sky;
    
    &__sun-container {
        position: absolute;
        transition: all 1.0s ease-in-out;
    }
}
