@import '../../../styles/variables.scss';

:host {
    position: relative;
}

.app-icon {
    background-size: cover;
    background: no-repeat center;
    contain: content;
    position: relative;
    
    &__image {
        vertical-align: middle;
    }
}
