<div class="app-weather-effect-water-drops__container">
    <div class="app-weather-effect-water-drops">
    </div>
    
    <div *ngFor="let drop of drops"
         class="app-weather-effect-water-drops_drop"
         [ngClass]="getCurrentBackgroundClass()"
         [ngStyle]="{
                'top.px': drop.yPosition,
                'left.px': drop.xPosition,
                'width.px': drop.dropWidth,
                'height.px': drop.dropHeight,
                'background-position': drop.backgroundPosition,
                'background-size': drop.backgroundSize
             }">
    </div>
    
    <div *ngFor="let border of borders"
         class="app-weather-effect-water-drops_border"
         [ngStyle]="{
                'top.px': border.yPosition,
                'left.px': border.xPosition,
                'width.px': border.borderWidth,
                'height.px': border.dropHeight
             }">
    </div>
</div>
