<div class="app-day-time-weather-view" #weatherView>
    <app-weather-effect-rain *ngIf="rainy"
                             [viewHeight]="viewHeight"
                             [viewWidth]="viewWidth"
                             [overcast]="overcast"
                             [timeOfDay]="timeOfDay"></app-weather-effect-rain>
    
    <app-weather-effect-snow *ngIf="snowy"
                             [viewHeight]="viewHeight"
                             [viewWidth]="viewWidth"
                             [overcast]="overcast"></app-weather-effect-snow>
    
    <app-weather-effect-cloud *ngIf="cloudy"
                              [overcast]="overcast"
                              [timeOfDay]="timeOfDay"></app-weather-effect-cloud>
    
    <app-weather-effect-fog *ngIf="foggy"></app-weather-effect-fog>
    
    <app-weather-effect-water-drops *ngIf="addDropsOnScreen()"
                                    [viewHeight]="viewHeight"
                                    [viewWidth]="viewWidth"
                                    [overcast]="overcast"
                                    [currentBackground]="currentBackground"></app-weather-effect-water-drops>
    
    <app-weather-effect-lightning2 *ngIf="addLightning()"
                                   [viewHeight]="viewHeight"
                                   [viewWidth]="viewWidth"></app-weather-effect-lightning2>
    
    <app-day-time-day-view *ngIf="isTimeOfDay('day')"
                           [viewHeight]="viewHeight"
                           [viewWidth]="viewWidth"
                           [dayLength]="dayLength"></app-day-time-day-view>
    
    <app-day-time-night-view *ngIf="isTimeOfDay('night')"
                             [viewHeight]="viewHeight"
                             [viewWidth]="viewWidth"
                             [nightLength]="nightLength"
                             [withoutHeavyOvercast]="withoutHeavyOvercast"></app-day-time-night-view>
</div>
