<div class="app-weather-effect-fog">
    <div class="app-weather-effect-fog__background"></div>
    
    <div class="app-weather-effect-fog__layer app-weather-effect-fog__layer-01">
        <div class="app-weather-effect-fog__img app-weather-effect-fog__img-01"></div>
        <div class="app-weather-effect-fog__img app-weather-effect-fog__img-01"></div>
    </div>
    
    <div class="app-weather-effect-fog__layer app-weather-effect-fog__layer-02">
        <div class="app-weather-effect-fog__img app-weather-effect-fog__img-02"></div>
        <div class="app-weather-effect-fog__img app-weather-effect-fog__img-02"></div>
    </div>
</div>
