<div class="app-forecast-cards-deck">
    <app-forecast-weather-card></app-forecast-weather-card>
    <app-forecast-weather-card></app-forecast-weather-card>
    <app-forecast-weather-card></app-forecast-weather-card>
    <app-forecast-weather-card></app-forecast-weather-card>
    <app-forecast-weather-card></app-forecast-weather-card>
    <app-forecast-weather-card></app-forecast-weather-card>
    <app-forecast-weather-card></app-forecast-weather-card>
</div>

<div class="app-forecast-cards-deck__change-day-week">
    <app-button buttonType="left" buttonSize="big" buttonShape="circle"></app-button>
    <app-button buttonType="minus" buttonSize="medium"></app-button>
    <app-button buttonType="home" buttonSize="big"></app-button>
    <app-button buttonType="plus" buttonSize="medium"></app-button>
    <app-button buttonType="right" buttonSize="big"></app-button>
</div>
