@import '../../../styles/variables.scss';

:host {
    position: relative;
}

.app-button {
    align-items: center;
    appearance: none;
    background-color: $color-button;
    border: 1px solid $color-transparent;
    contain: content;
    display: flex;
    justify-content: center;
    outline: none;
    position: relative;
    
    &:hover {
        background-color: $color-button-active;
    }
    
    &:active {
        background-color: $color-button-active;
        border: 1px solid $color-light_black;
    }
    
    &--circle {
        border-radius: 50%;
    }
    
    &--rectangle {
        border-radius: $border-radius-default;
    }
}
