<div class="app-weather-effect-clouds">
    <div *ngIf="isOvercast('heavy')" class="app-weather-effect-clouds__background"></div>
    
    <div class="app-weather-effect-clouds__layer app-weather-effect-clouds__layer-01">
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-01"></div>
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-01"></div>
    </div>
    
    <div class="app-weather-effect-clouds__layer app-weather-effect-clouds__layer-02">
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-02"></div>
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-02"></div>
    </div>
    
    <div class="app-weather-effect-clouds__layer app-weather-effect-clouds__layer-03">
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-03"></div>
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-03"></div>
    </div>
    
    <div class="app-weather-effect-clouds__layer app-weather-effect-clouds__layer-04">
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-04"></div>
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-04"></div>
    </div>
    
    <div class="app-weather-effect-clouds__layer app-weather-effect-clouds__layer-05">
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-05"></div>
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-05"></div>
    </div>
    
    <div class="app-weather-effect-clouds__layer app-weather-effect-clouds__layer-06">
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-06"></div>
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-06"></div>
    </div>
    
    <div class="app-weather-effect-clouds__layer app-weather-effect-clouds__layer-07">
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-07"></div>
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-07"></div>
    </div>
    
    <div class="app-weather-effect-clouds__layer app-weather-effect-clouds__layer-08">
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-08"></div>
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-08"></div>
    </div>
    
    <div class="app-weather-effect-clouds__layer app-weather-effect-clouds__layer-09">
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-09"></div>
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-09"></div>
    </div>
    
    <div class="app-weather-effect-clouds__layer app-weather-effect-clouds__layer-10">
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-10"></div>
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-10"></div>
    </div>
    
    <div class="app-weather-effect-clouds__layer app-weather-effect-clouds__layer-11">
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-11"></div>
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-11"></div>
    </div>
    
    <div class="app-weather-effect-clouds__layer app-weather-effect-clouds__layer-12">
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-12"></div>
        <div class="app-weather-effect-clouds__img app-weather-effect-clouds__img-12"></div>
    </div>
</div>
