<div class="app-forecast-current-information">
    <div class="app-forecast-current-information__block">
        <!--<span class="">{{}}, {{}}</span>-->
        <span class="app-forecast-current-information__data app-text-size-heading-default">
            Kyiv, Ukraine
        </span>
    </div>
    
    <div class="app-forecast-current-information__block">
        <span class="app-forecast-current-information__data app-text-size-extra">
            19:47
        </span>
    </div>
    
    <div class="app-forecast-current-information__block">
        <span class="app-forecast-current-information__data app-text-size-heading-hero app-text-weight-semibold">
            <i class="wi wi-day-rain-mix"></i>
        </span>
        <span class="app-forecast-current-information__data app-text-size-heading-hero app-text-weight-semibold">
            7&#176;C
        </span>
    </div>
    
    <div class="app-forecast-current-information__block">
        <span class="app-forecast-current-information__data app-text-size-heading-default app-text-weight-semibold">
            Partly cloudy
        </span>
    </div>
    
    <div class="app-forecast-current-information__block">
        <span class="app-forecast-current-information__data">
            Feels like 7&#176;C
        </span>
        <span class="app-forecast-current-information__data">
            Wind
        </span>
        <span class="app-forecast-current-information__data">
            Humidity
        </span>
    </div>
    
    <div class="app-forecast-current-information__block">
        <span class="app-forecast-current-information__data">
            UV index
        </span>
    </div>
</div>
