@import '../../../styles/variables.scss';

:host {
    height: 100%;
    position: relative;
    width: 100%;
}

.app-forecast-current-information {
    background-color: $current-information-background;
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-default;
    color: $color-white;
    contain: content;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
    width: 100%;
    
    &:hover {
        background-color: $current-information-background-hover;
        box-shadow: $box-shadow-hover;
    }
    
    &__block {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: $space-md 0;
    
        &:first-of-type {
            margin-top: $space-sm;
        }
    
        &:last-of-type {
            margin-bottom: $space-sm;
        }
    }
    
    &__data {
        margin: 0 $space-md;
    
        .wi {
            color: $color-blue;
        }
    }
}

@media (max-width: 420px) {
    .app-forecast-current-information {
        &__block {
            margin: $space-lg 0;
        
            &:first-of-type {
                margin-top: $space-xl;
            }
        
            &:last-of-type {
                margin-bottom: $space-xl;
            }
        }
    
        &__data {
            margin: 0 $space-xxs;
        }
    }
}
