@import '../../../styles/variables.scss';

:host {
    height: 100%;
    position: relative;
    width: 100%;
}

.app-forecast-current-information {
    background-color: $current-information-background;
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-default;
    color: $color-white;
    contain: content;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
    width: 100%;
    
    &:hover {
        box-shadow: $box-shadow-hover;
        background-color: $current-information-background-hover;
    }
    
    &__block {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding: $space-sm 0;
    
        &:first-of-type {
            padding-top: 0;
        }
    
        &:last-of-type {
            padding-bottom: 0;
        }
    }
    
    &__data {
        padding: 0 $space-lg;
    }
}
