@import '../../../styles/variables.scss';

:host {
    height: 100%;
    position: relative;
    width: 100%;
}

.app-forecast-current-information {
    color: $color-white;
    contain: content;
    height: 100%;
    position: relative;
    width: 100%;
    
    &__block {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding: $space-sm 0;
    
        &:first-of-type {
            padding-top: 0;
        }
    
        &:last-of-type {
            padding-bottom: 0;
        }
    }
    
    &__data {
        padding: 0 $space-lg;
    }
}
