@import '../../../styles/variables.scss';

:host {
    contain: content;
    position: relative;
}

.app-day-time-night-view {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: $z-index-day-time-view;
    
    //background-color: $color-night_sky;
    //background: radial-gradient(ellipse at bottom, rgb(9, 76, 114) 0%, rgb(1, 41, 63) 100%);
    background: radial-gradient(ellipse at bottom, rgb(3, 16, 44) 0%, rgb(1, 11, 23) 100%);
    
    &__moon-container {
        position: absolute;
        transition: all 1.0s ease-in-out;
    }
}
