<main class="app-main-page"
      [ngClass]="getCurrentBackgroundClass()">
    <section class="app-main-page__current-information">
        <app-forecast-current-information></app-forecast-current-information>
    </section>
    
    <section class="app-main-page__day-time-view">
        <app-day-time-weather-view></app-day-time-weather-view>
    </section>
    
    <section class="app-main-page__cards-deck">
        <app-forecast-cards-deck></app-forecast-cards-deck>
    </section>
    
    <aside class="app-main-page__control-panel">
        <app-control-panel></app-control-panel>
    </aside>
    
    <div class="app-main-page__blurred-background"></div>
</main>
