<main
  class="app-main-page"
  [ngClass]="getCurrentBackgroundClass()"
>
  <section
    @enterLeaveTrigger
    class="app-main-page__current-information"
  >
    <app-forecast-current-information></app-forecast-current-information>
  </section>

  <section
    @enterLeaveTrigger
    class="app-main-page__day-time-view"
  >
    <app-day-time-weather-view></app-day-time-weather-view>
  </section>

  <section
    @enterLeaveTrigger
    class="app-main-page__cards-deck"
  >
    <app-forecast-cards-deck></app-forecast-cards-deck>
  </section>

  <aside class="app-main-page__control-panel">
    <app-control-panel></app-control-panel>
  </aside>

  <div
    @enterLeaveTrigger
    class="app-main-page__background app-main-page__blurred-background"
  >
  </div>

  <div
    @enterLeaveTrigger
    *ngIf="isWeather('foggy')"
    class="app-main-page__background app-main-page__fog-background"
  >
  </div>

  <div
    @enterLeaveTrigger
    *ngIf="isWeather('cloudy') && isOvercast('medium') && isTimeOfDay('day')"
    class="app-main-page__background app-main-page__clouds-day-medium-background"
  >
  </div>

  <div
    @enterLeaveTrigger
    *ngIf="isWeather('cloudy') && isOvercast('heavy') && isTimeOfDay('day')"
    class="app-main-page__background app-main-page__clouds-day-heavy-background"
  >
  </div>

  <div
    @enterLeaveTrigger
    *ngIf="isWeather('cloudy') && isOvercast('medium') && isTimeOfDay('night')"
    class="app-main-page__background app-main-page__clouds-night-medium-background"
  >
  </div>

  <div
    @enterLeaveTrigger
    *ngIf="isWeather('cloudy') && isOvercast('heavy') && isTimeOfDay('night')"
    class="app-main-page__background app-main-page__clouds-night-heavy-background"
  >
  </div>
</main>
