<!-- TODO: uncomment -->
<!--<main class="app-main-page">-->
    <!--<section class="app-main-page__day-time-view">-->
        <!--<app-day-time-weather-view></app-day-time-weather-view>-->
    <!--</section>-->
    <!---->
    <!--<section class="app-main-page__cards-deck">-->
        <!--<app-forecast-cards-deck></app-forecast-cards-deck>-->
    <!--</section>-->
<!--</main>-->

<!--<app-day-time-night-view></app-day-time-night-view>-->
<!--<app-weather-effect-sun></app-weather-effect-sun>-->
<!--<app-weather-effect-moon></app-weather-effect-moon>-->
<!--<app-weather-effect-rain></app-weather-effect-rain>-->
<!--<app-weather-effect-snow></app-weather-effect-snow>-->
<!--<app-weather-effect-cloud></app-weather-effect-cloud>-->
<!--<app-weather-effect-stars></app-weather-effect-stars>-->
<!--<app-weather-effect-fog></app-weather-effect-fog>-->
<!--<app-weather-effect-water-drops></app-weather-effect-water-drops>-->

<!--<app-weather-effect-lightning></app-weather-effect-lightning>-->
<!--<app-weather-effect-lightning2></app-weather-effect-lightning2>-->
<app-day-time-day-view></app-day-time-day-view>
