@import '../../../styles/variables.scss';

:host {
    height: 100%;
    position: relative;
    width: 100%;
}

.app-main-page {
    contain: content;
    height: auto;
    min-height: 100%;
    overflow: auto;
    position: relative;
    transition: background 10.0s ease-in-out;
    width: 100%;
    z-index: $z-index-main-page;
    
    &__current-information {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: $space-lg 10%;
        position: relative;
        width: 100%;
        z-index: $z-index-main-page + 20;
    }
    
    &__day-time-view {
        display: block;
        height: $main-view-height;
        min-width: 45%;
        padding: 0 15%;
        position: relative;
        width: 100%;
        z-index: $z-index-main-page + 20;
    }
    
    &__cards-deck {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: $space-lg 15%;
        position: relative;
        width: 100%;
        z-index: $z-index-main-page + 20;
    }
    
    &__control-panel {
        position: absolute;
        right: $space-lg;
        top: $space-lg;
        z-index: $z-index-main-page + 20;
    }
    
    &__blurred-background {
        background: rgba(255, 255, 255, 0.1);
        filter: brightness(1.1) blur(50.0px);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: $z-index-main-page + 10;
    }
}
