@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.app-weather-effect-rain {
    contain: content;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: $z-index-rain;

    //// TODO: need 2 different layers for medium and heavy types of rain
    //&__background-lighter {
    //    background: $color-rain_wall-lighter;
    //    height: 100%;
    //    position: absolute;
    //    width: 100%;
    //    z-index: 810;
    //}
    //
    //&__background-darker {
    //    background: $color-rain_wall-darker;
    //    height: 100%;
    //    position: absolute;
    //    width: 100%;
    //    z-index: 810;
    //}

    &__canvas {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: ($z-index-rain + 20);
    }

    &-through__canvas {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: ($z-index-rain + 30);
    }
}
