@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.app-weather-effect-snow {
    contain: content;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: $z-index-snow;

    &__canvas {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: ($z-index-snow + 20);
    }
}
