@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.app-weather-effect-snow {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 600;

    // TODO: need 2-3 different layers for different types of snow heaviness
    &__background {
        background: $color-snow_wall;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 510;
    }

    &__canvas {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 520;
    }
}
