<div class="app-weather-effect-moon">
  <div class="app-weather-effect-moon__crater"></div>
  <div class="app-weather-effect-moon__crater"></div>
  <div class="app-weather-effect-moon__crater"></div>
  <div class="app-weather-effect-moon__crater"></div>
  <div class="app-weather-effect-moon__crater"></div>
  <div class="app-weather-effect-moon__crater"></div>
  <div class="app-weather-effect-moon__crater"></div>

  <div [ngClass]="getMoonPhaseClass()">
    <div class="app-weather-effect-moon__half">
      <div class="app-weather-effect-moon__half--ellipse app-weather-effect-moon__half--white"></div>
      <div class="app-weather-effect-moon__half--ellipse app-weather-effect-moon__half--black"></div>
    </div>

    <div class="app-weather-effect-moon__half">
      <div class="app-weather-effect-moon__half--ellipse app-weather-effect-moon__half--white"></div>
      <div class="app-weather-effect-moon__half--ellipse app-weather-effect-moon__half--black"></div>
    </div>
  </div>
</div>
