@import '../../../../styles/variables.scss';

// Taken from: https://github.com/jshakes/moontonight by jshakes
@mixin moon($percent) {
    font-size: 0;
    height: $moon-dimension;
    position: absolute;
    width: $moon-dimension;
    z-index: ($z-index-moon + 10);
    
    &.northern-hemisphere {
        transform: rotate(180deg);
    }
    
    .app-weather-effect-moon__half {
        display: inline-block;
        height: $moon-dimension;
        overflow: hidden;
        position: relative;
        width: $moon-dimension / 2;
        
        .app-weather-effect-moon__half--ellipse {
            border-radius: 100%;
            height: 100%;
            position: absolute;
            transition: all, 0.25s;
            width: 200%;
            
            &.app-weather-effect-moon__half--black {
                background: $color-moon_main;
                z-index: 2;
            }
            
            &.app-weather-effect-moon__half--white {
                background: $color-moon_box-shadow;
                border: 1px solid $color-transparent;
                z-index: 1;
            }
        }
        
        &:first-child .app-weather-effect-moon__half--ellipse {
            &.app-weather-effect-moon__half--black {
                @if($percent > 25 and $percent < 75) {
                    left: 100%;
                    width: 0;
                }
                
                @if($percent <= 25) {
                    left: #{100 - ((50 -$percent * 2) * 2%)};
                    width: #{(50 -$percent * 2) * 4%};
                }
            }
            
            &.app-weather-effect-moon__half--white {
                left: 100%;
                width: 0;
                
                @if($percent <= 50) {
                    left: 0;
                    width: 200%;
                }
                
                @if($percent > 50 and $percent < 75) {
                    left: #{($percent - 50) * 4%};
                    width: #{(75 - $percent) * 8%};
                }
            }
        }
        
        &:last-child .app-weather-effect-moon__half--ellipse {
            left: -50%;
            width: 0;
            
            @if($percent <= 25) {
                visibility: hidden;
            }
            
            &.app-weather-effect-moon__half--white {
                @if($percent > 25 and $percent < 50) {
                    left: #{($percent - 25) * -4%};
                    width: #{($percent - 25) * 8%};
                    z-index: 3;
                }
                
                @if($percent >= 50) {
                    left: -100%;
                    width: 200%;
                }
            }
            
            &.app-weather-effect-moon__half--black {
                @if($percent > 75) {
                    left: #{(75 - $percent) * 4%};
                    width: #{($percent - 75) * 8%};
                }
            }
        }
    }
}

:host {
    contain: content;
}

.app-weather-effect-moon {
    background: $color-moon_main;
    border-radius: 50%;
    box-shadow: 0 0 50px 0 $color-moon_main;
    filter: brightness(1.2) blur(0.5px);
    height: $moon-dimension;
    opacity: 1.0;
    position: absolute;
    width: $moon-dimension;
    z-index: $z-index-moon;

    &__crater {
        background: $color-moon_crater;
        border-radius: 50%;
        filter: brightness(1.2) blur(0.5px);
        position: absolute;
        z-index: ($z-index-moon + 20);

        &:nth-child(1) {
            box-shadow: inset 6px -2px 1px 1px $color-moon_crater_box-shadow, 0 0 5px 0 $color-moon_crater;
            height: (0.25 * $moon-dimension);
            left: (0.12 * $moon-dimension);
            top: (0.3 * $moon-dimension);
            width: (0.25 * $moon-dimension);
        }

        &:nth-child(2) {
            box-shadow: inset 3px -1px 1px 1px $color-moon_crater_box-shadow, 0 0 5px 0 $color-moon_crater;
            height: (0.125 * $moon-dimension);
            left: (0.75 * $moon-dimension);
            top: (0.25 * $moon-dimension);
            width: (0.125 * $moon-dimension);
        }

        &:nth-child(3) {
            box-shadow: inset 3px -1px 1px 1px $color-moon_crater_box-shadow, 0 0 5px 0 $color-moon_crater;
            height: (0.125 * $moon-dimension);
            left: (0.5 * $moon-dimension);
            top: (0.75 * $moon-dimension);
            width: (0.125 * $moon-dimension);
        }

        &:nth-child(4) {
            box-shadow: inset 2.4px -0.8px 1px 1px $color-moon_crater_box-shadow, 0 0 5px 0 $color-moon_crater;
            height: (0.1 * $moon-dimension);
            left: (0.25 * $moon-dimension);
            top: (0.75 * $moon-dimension);
            width: (0.1 * $moon-dimension);
        }

        &:nth-child(5) {
            box-shadow: inset 2.4px -0.8px 1px 1px $color-moon_crater_box-shadow, 0 0 5px 0 $color-moon_crater;
            height: (0.1 * $moon-dimension);
            left: (0.5 * $moon-dimension);
            top: (0.1 * $moon-dimension);
            width: (0.1 * $moon-dimension);
        }

        &:nth-child(6) {
            box-shadow: inset 2.4px -0.8px 1px 1px $color-moon_crater_box-shadow, 0 0 5px 0 $color-moon_crater;
            height: (0.1 * $moon-dimension);
            left: (0.57 * $moon-dimension);
            top: (0.4 * $moon-dimension);
            width: (0.1 * $moon-dimension);
        }

        &:nth-child(7) {
            box-shadow: inset 2.4px -0.8px 1px 1px $color-moon_crater_box-shadow, 0 0 5px 0 $color-moon_crater;
            height: (0.1 * $moon-dimension);
            left: (0.81 * $moon-dimension);
            top: (0.5 * $moon-dimension);
            width: (0.1 * $moon-dimension);
        }
    }
    
    @for $i from 0 through 100 {
        &__phase-#{$i} {
            @include moon($i);
        }
    }
}
