<div class="app-forecast-weather-card">
    <div *ngIf="isCurrentType('hours')"
         class="app-forecast-weather-card__block">
        <span class="app-text-size-extra app-text-weight-semibold">
            <i class="wi wi-time-4 app-text-size-extra"></i>
            {{ weatherState.timeCurrent }}
        </span>
    </div>

    <div *ngIf="isCurrentType('days')"
         class="app-forecast-weather-card__block">
        <span class="app-text-size-extra app-text-weight-semibold">
            <i class="wi wi-time-4 app-text-size-extra"></i>
            {{ weatherState.dateCurrent }}
        </span>
    </div>
    
    <div class="app-forecast-weather-card__block">
        <app-icon [iconType]="weatherState.weatherType"
                  iconSize="big"></app-icon>
    </div>

    <div *ngIf="isCurrentType('hours')"
         class="app-forecast-weather-card__block">
        <div class="app-forecast-weather-card__double-data-container">
            <div class="app-forecast-weather-card__double-data-content">
                <span class="app-forecast-weather-card__double-data app-text-weight-semibold">
                    <i class="wi wi-humidity"></i>
                    {{ weatherState.humidityCurrent }}
                </span>
            </div>

            <div class="app-forecast-weather-card__double-data-divider"></div>

            <div class="app-forecast-weather-card__double-data-content">
                <span class="app-forecast-weather-card__double-data app-text-weight-semibold">
                    <i class="wi wi-thermometer"></i>
                    {{ weatherState.temperatureCurrent | TemperatureValuePipe }}
                    <i class="wi wi-celsius app-text-size-extra"></i>
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="isCurrentType('hours')"
         class="app-forecast-weather-card__block">
        <div class="app-forecast-weather-card__double-data-container">
            <div class="app-forecast-weather-card__double-data-content">
                <span class="app-forecast-weather-card__double-data app-text-weight-semibold">
                    <i class="wi wi-wind wi-towards-se app-text-size-extra"></i>
                    {{ weatherState.windSpeed}}
                </span>
            </div>

            <div class="app-forecast-weather-card__double-data-divider"></div>

            <div class="app-forecast-weather-card__double-data-content">
                <span class="app-forecast-weather-card__double-data app-text-weight-semibold">
                    <i class="wi wi-barometer app-text-size-extra"></i>
                    {{ weatherState.airPressure}}
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="isCurrentType('days')"
         class="app-forecast-weather-card__block">
        <div class="app-forecast-weather-card__double-data-container">
            <div class="app-forecast-weather-card__double-data-content">
                <span class="app-forecast-weather-card__double-data app-text-weight-semibold">
                    <i class="wi wi-thermometer"></i>
                    {{ weatherState.temperatureMin | TemperatureValuePipe }}
                    <i class="wi wi-celsius app-text-size-extra"></i>
                </span>
            </div>

            <div class="app-forecast-weather-card__double-data-divider"></div>

            <div class="app-forecast-weather-card__double-data-content">
                <span class="app-forecast-weather-card__double-data app-text-weight-semibold">
                    <i class="wi wi-thermometer"></i>
                    {{ weatherState.temperatureMax | TemperatureValuePipe }}
                    <i class="wi wi-celsius app-text-size-extra"></i>
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="isCurrentType('days')"
         class="app-forecast-weather-card__block">
        <div class="app-forecast-weather-card__double-data-container">
            <div class="app-forecast-weather-card__double-data-content">
                <span class="app-forecast-weather-card__double-data app-text-weight-semibold">
                    <i class="wi wi-humidity"></i>
                    {{ weatherState.humidityMin }}
                </span>
            </div>

            <div class="app-forecast-weather-card__double-data-divider"></div>

            <div class="app-forecast-weather-card__double-data-content">
                <span class="app-forecast-weather-card__double-data app-text-weight-semibold">
                    <i class="wi wi-humidity"></i>
                    {{ weatherState.humidityMax }}
                </span>
            </div>
        </div>
    </div>
</div>
