<div class="app-forecast-weather-card">
    <div class="app-forecast-weather-card__block">
        <span class="app-text-size-extra app-text-weight-semibold">
            19:00
        </span>
    </div>
    
    <div class="app-forecast-weather-card__block">
        <app-icon iconType="cloudy" iconSize="big"></app-icon>
    </div>
    
    <div class="app-forecast-weather-card__block">
        <div class="app-forecast-weather-card__double-data-container">
            <div class="app-forecast-weather-card__double-data-content">
                <span class="app-forecast-weather-card__double-data">
                    <i class="wi wi-raindrop"></i> 5%
                </span>
            </div>
            
            <div class="app-forecast-weather-card__double-data-divider"></div>
            
            <div class="app-forecast-weather-card__double-data-content">
                <span class="app-forecast-weather-card__double-data">
                    <i class="wi wi-raindrop"></i> 10%
                </span>
            </div>
        </div>
    </div>

    <div class="app-forecast-weather-card__block">
        <div class="app-forecast-weather-card__double-data-container">
            <div class="app-forecast-weather-card__double-data-content">
                <span class="app-forecast-weather-card__double-data">
                    +12&#176;C
                </span>
            </div>
            
            <div class="app-forecast-weather-card__double-data-divider"></div>
            
            <div class="app-forecast-weather-card__double-data-content">
                <span class="app-forecast-weather-card__double-data">
                    +10&#176;C
                </span>
            </div>
        </div>
    </div>
</div>
