@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.app-weather-effect-lightning {
    // TODO: delete
    background: #222;
    
    contain: content;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: 500;

    &__canvas {
        height: 100%;
        position: absolute;
        width: 100%;
    }
}
